<header class="eventify-header">
    <div class="header-wrapper">
        <!-- Header top section -->
        <div class="header-top">
            <div class="brand-logo-container">
                <button class="brand-logo-button" onclick="location.href='/';">
                    <img src="/media/images/brandlogo.png" alt="Eventify brand logo">
                </button>
            </div>
            <!-- Search bar -->
            <div class="header-search-container">
                <form action="#" method="GET" class="header-search-form">
                    <input type="text" name="query" class="header-search-box" placeholder="Search for anything">
                    <button type="submit" class="header-search-button"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- User icons -->
            <div class="user-icon-wrapper">
                <button onclick="location.href='/orderActivity'"> <!-- Updated this button -->
                    <img src="/media/images/circledollar.png" alt="Circle Dollar" class="header-icon">
                </button>
                <button>
                    <img src="/media/images/heart.png" alt="Likes" class="header-icon">
                </button>
                <button>
                    <img src="/media/images/notifications.png" alt="Notifications" class="header-icon">
                </button>
                <button>
                    <img src="/media/images/user.png" alt="User Profile" class="header-icon">
                </button>
                <button>
                    <img src="/media/images/cart.png" alt="User Cart" class="header-user-cart" onclick="location.href='/cart'">
                </button>
            </div>
        </div>
        <!-- Header bottom section -->
        <div class="header-bottom">
            <div class="header-categories-container">
                <a href="#" class="all-category">All</a>
                <a href="#">Academic</a>
                <a href="#">Birthday</a>
                <a href="#">Corporate</a>
                <a href="#">Cultural</a>
                <a href="#">Entertainment</a>
                <a href="#">Holiday</a>
                <a href="#">Luxury</a>
                <a href="#">Seasonal</a>
                <a href="#">Wedding</a>
            </div>
            <div class="header-sell-container">
                <button class="header-sell-button" onclick="location.href='/createListing'">
                    <img src="/media/images/sell.png" alt="Sell">
                </button>
            </div>
        </div>
        <!-- Dropdown for smaller screens -->
        <div class="header-dropdown">
            <select class="category-dropdown">
                <option value="#">All</option>
                <option value="#">Academic</option>
                <option value="#">Birthday</option>
                <option value="#">Corporate</option>
                <option value="#">Cultural</option>
                <option value="#">Entertainment</option>
                <option value="#">Holiday</option>
                <option value="#">Luxury</option>
                <option value="#">Seasonal</option>
                <option value="#">Wedding</option>
            </select>
        </div>
    </div>
</header>
