<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Eventify</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <img src="/media/images/brandlogo.png" alt="eventify brand logo" class="brand-logo">
    </header>
    
    <main>
        <div class="login-container">
            <h1 class="login-title">Login</h1>
            <form action="/login" method="POST">
                <input type="email" id="email" name="email" required placeholder="Email">
                <input type="password" id="password" name="password" required placeholder="Password">
                <div class="form-options">
                    <button type="submit" class="login-btn">Login</button>
                    <a href="#" class="forgot-password">Forgot Password?</a>
                </div>
            </form>
            <p>Don't have an account? <a href="/auth/signup" class="signup-link">Create new</a></p>
        </div>
    </main>
</body>
</html>
