<footer>
    <div class="footer-wrapper">
        <!-- Footer Sections -->
        <div class="footer-shop-container">
            <h2>SHOP</h2>
            <p>Trending</p>
        </div>
        <div class="footer-sell-container">
            <h2>SELL</h2>
            <p>How to sell</p>
        </div>
        <div class="footer-support-container">
            <h2>SUPPORT</h2>
            <a href="/contact" class="contact-link">Contact Us</a>
        </div>        
        <div class="footer-company-container">
            <h2>COMPANY & POLICIES</h2>
            <p>About Us</p>
        </div>
        <div class="footer-socials-container">
            <h2>FIND US ON</h2>
            <div class="footer-socials">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-threads"></i>
            </div>
        </div>
    </div>
</footer>
