<header class="eventify-header">
    <div class="header-wrapper">
        <!-- Header top section -->
        <div class="header-top">
            <div class="brand-logo-container">
                <button class="brand-logo-button" onclick="location.href='/';">
                    <img src="/media/images/brandlogo.png" alt="Eventify brand logo">
                </button>
            </div>
            <!-- Search bar -->
            <div class="header-search-container">
                <form action="#" method="GET" class="header-search-form">
                    <input type="text" name="query" class="header-search-box" placeholder="Search for anything">
                    <button type="submit" class="header-search-button"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- Login and Signup buttons -->
            <div class="user-icon-wrapper">
                <button onclick="location.href='/login';" class="header-login-button">Login</button>
                <button onclick="location.href='/signup';" class="header-signup-button">Sign Up</button>
            </div>
        </div>
        <!-- Header bottom section -->
        <div class="header-bottom">
            <div class="header-all-container">
                <a href="#">All</a>
            </div>
            <div class="header-categories-container">
                <a href="#">Academic</a>
                <a href="#">Birthday</a>
                <a href="#">Corporate</a>
                <a href="#">Cultural</a>
                <a href="#">Entertainment</a>
                <a href="#">Holiday</a>
                <a href="#">Luxury</a>
                <a href="#">Seasonal</a>
                <a href="#">Wedding</a>
            </div>
            <div class="header-sell-container">
                <button class="header-sell-button">
                    <img src="/media/images/sell.png" alt="Sell">
                </button>
            </div>
        </div>
    </div>
</header>
